<!DOCTYPE html>
<html>
<head>
  <title>The Iron Library</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="row">
        <div class="col-xs-3">
        <h3><%= link_to "The Iron Library", root_path%></h3>
        </div>
        <div class="col-xs-2">
          <h3><%= link_to "Authors", authors_path%></h3>
        </div>
        <div class="col-xs-2">
          <h3><%= link_to "Books", books_path%></h3>
        </div>
      </div>
    </div>
  </nav>

  <br>
  <br>
  <br>
  <% if notice %>
    <h3 class="text-center">
      <%= notice %>
    </h3>
  <% end %>
  <%= yield %>

</body>
</html>
